body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.heading {
    background-color:rgb(21, 30, 54);
    padding: 0px 10% 10%;
    margin: 0;
    color: rgb(214, 214, 214);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav .links p {
    margin-top: 3%;
    flex: 1;
}

.nav .links {
    display: flex;
}

.head-lower {
    display: flex;
    margin: 3% 0%;
    justify-content: space-between;
}

.head-lower div h5 {
    background-color: rgb(5, 103, 183);
    width: 60px;
    padding: 5px;
    border-radius: 3px;
}

.image-placeholder {
    padding: 10%;
    background-color: gray;
}

/* ----------------------------------------- */

.random-info {
    background-color: white;
}

.random-info h1 {
    color: blue;
    text-align: center;
}

.random-info .box-container {
    display: flex;
    justify-content: center;
}



.box-container .blue-box {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-radius: 8px;
    flex: 1;
    width: 120px;
    height: 120px;
    margin: 24px;
}

.quote-container {
    background-color: rgb(186, 186, 186);
    padding: 10%;
    font-style: italic;
}